.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 396px;
  margin: 28px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}